langchain
langchain-community
langchain-ollama
langchain-huggingface
langchain-text-splitters
faiss-cpu
rank_bm25
sentence-transformers
pypdf
langgraph
torch

# API server
fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]

# Database (Postgres)
sqlalchemy
psycopg2-binary
bcrypt
